
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-image: url("../assets/starsBackground.jpg");
  justify-content: center;
}

.slide-wrap {
  margin: auto;
  width: 90%;
  align-items: center;
}

.slider {

}
.slide {
  margin: auto;
  height:80%;
}

